<div className="background">

  <div className="container"><br />
   
      <h3 id="main">Article details</h3>
      <p id="go_back">
        <a [routerLink]="['/article']" >
        <button>All Articles</button>
        </a>
      </p>
    <br />
    <hr />
    <section id="team" class="pb-5">
      <div class="container frame">
        <div class="avatar-flip">
          <div className='img-holder'>
            <img className='article-img' src="" width="140" height="140" />
          </div>
          <h5 className="card-title"></h5><br />
          <p className="card-title">
           </p> <p className="card-title">
              <b>Posted on :</b>
          </p><br />
          <p className="card-text">
            <b>Brief :</b>
          </p><br />
          <p className="card-text">
            <b>Description : </b>
          </p>
        </div>
      </div>
    </section>
  </div>

</div>