<section class="container mt-5 mb-4 section-text ">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-4 ">
        <div class="d-flex flex-row border rounded card-bg">
          <div class="pl-3 pt-2 pr-2 pb-2 w-5  border-left">
            <h4 class="card-text">Users</h4>
            <hr color="black" class="hr-users">
            <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
              <li class="card-list-left"> Employeers:20</li>
              <li class="card-list-left"> Recruiters:20</li>
            </ul>
            <ul class="m-0">
              <li class="card-list"> Interviewrs:20</li>
              <li class="card-list"> Candidates:20 </li>
            </ul>
            <p class="text-left m-0"><a routerLink="/users" class="btn manage-user">Manage users</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 sec-align">
        <div class="d-flex flex-row border rounded card-bg">

          <div class="pl-3 pt-2 pr-2 pb-2  w-5  border-left">
            <h4 class="card-text">Complaints</h4>
            <hr color="black" class="hr">
            <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
              <li class="card-list-left">Recentcomplaints:20</li>
              <li class="card-list-left">Resolvedcomplaints:20</li>
            </ul>
            <ul class="m-0">
              <li class="card-list-complaints">Pendingcomplaints:20</li>

            </ul>
            <p class="text-left m-0"><a routerLink="/complaints" class="btn manage-com">Manage complaints</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-5 sec-align">
        <div class="d-flex flex-row border rounded card-bg historyCard">

          <div class="pl-3 pt-2 pr-2 pb-2  w-5  border-left">
            <div class="container">
              <h4 class="card-text">History</h4>
              <hr color="black" class="hr-history">
              <table class="table" style="width:500px">
                <tbody>
                  <tr class="tr-color">
                    <td>20:30:10</td>
                    <td>Admin123 deleted Aritcle</td>
                    <td>20/2/2019</td>
                  </tr>
                  <tr class="tr-color">
                    <td>20:30:10</td>
                    <td>Admin123 deleted Aritcle</td>
                    <td>20/2/2019</td>
                  </tr>
                  <tr class="tr-color">
                    <td height="10">20:30:10</td>
                    <td height="10">Admin123 deleted Aritcle</td>
                    <td height="10">20/2/2019</td>
                  </tr>
                  <tr class="tr-color">
                    <td>20:30:10</td>
                    <td>Admin123 deleted Aritcle</td>
                    <td>20/2/2019</td>
                  </tr>
                  <tr class="tr-color">
                    <td>20:30:10</td>
                    <td>Admin123 deleted Aritcle</td>
                    <td>20/2/2019</td>
                  </tr>
                  <tr class="tr-color">
                    <td>20:30:10</td>
                    <td>Admin123 deleted Aritcle</td>
                    <td>20/2/2019</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Article and Bulletins Cards -->
</section>
<section class="container mt-4 mb-4">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-4 card-align ">
        <div class="d-flex flex-row border rounded card-bg articleCard">

          <div class="pl-3 pt-2 pr-2 pb-2  w-5  border-left">
            <h4 class="card-text">Articles</h4>
            <hr color="black" class="hr-articles">
            <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
              <li class="card-list-left"> Articles created:20</li>

            </ul>
            <ul class="m-0">
              <li class="card-list"> Articles deleted:20</li>

            </ul>
            <p class="text-right m-0"><a routerLink="/article" class="btn manage-art">Manage articles</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 sec-align card-align">
        <div class="d-flex flex-row border rounded card-bg articleCard">

          <div class="pl-3 pt-2 pr-2 pb-2  w-5  border-left">
            <h4 class="card-text">Bulletins</h4>
            <hr color="black" class="hr-bulletins">
            <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
              <li class="card-list-left"> Total bulletins:20</li>

            </ul>
            <ul class="m-0">


            </ul>
            <p class="text-left m-0"><a routerLink="/bulletins" class="btn manage-bull">Manage bulletins</a></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>